/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {}
/* hint! what do you have to add here? */

.logo {}

.navigation {}

.sidebar {
	float:left;
	width: 250px;

}

.main_content {
	display:block;
	float:left;
	width:734px;
}
.main_content:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;

}
/* hint! you have to contain the floated children elements. */

.sub_content {
	float:right;
	/* hint! */
}

.sub_content_2 {
	float:right;

.sub_content_2:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;


.footer {
	display:block;
	clear:both;

}
